<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="brand brand-name-landing-page navbar-left" href="/">What's Around</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="custom-nav"> <%= link_to "Hello, #{current_user.name}", user_path(current_user.id) %></li>
          <li class="custom-nav"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li class="custom-nav"><%= link_to "Login with Foursquare", foursquare_login_path %></li>
        <% end  %>
        </li>
      </ul>
    </div>
</nav>
